
/* ------------------------------------------------------------
1. Fonts
------------------------------------------------------------ */
/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i');

/* ------------------------------------------------------------
2. General Styles
------------------------------------------------------------ */
:root {
  --bg-body: #1e1e2f;
  --color-shadow: 0 1px 20px 0 rgb(0 0 0 / 75%);
  --bg-primary: #27293d;
  --color-txt: #eee;
  --color-txt-period: #aaa;
  --color-txt-company: #a5a6a7;
  --color-txt-body: #d5d5d5;
  --color-txt-title: #f5f5f5;
  --bg-item-portfolio: rgba(0,0,0,.05);
}

.white {
  --bg-body: #cfcfcf;
  --color-shadow: 0 1px 15px 0 hsl(0deg 0% 0% / 83%);
  --bg-primary: #fff;
  --color-txt: gray;
  --color-txt-period: rgb(148, 147, 147);
  --color-txt-company: #89898a;
  --color-txt-body: #bdbdbd;
  --color-txt-title: #4f4f4f;
  --bg-item-portfolio: rgba(243, 243, 243, 0.05);
}

html {
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

body {
  background-color: var(--bg-body);
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 15px;
  font-family: 'Poppins', Helvetica, sans-serif;
  line-height: 1.65em;
  overflow: hidden;
  color: #d5d5d5;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-txt);
  font-family: 'Poppins', Helvetica, sans-serif;
  font-weight: 600;
}

h1 {
    font-size: 32px;
}
h2 {
    font-size: 27px;
}
h3 {
    font-size: 21px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}

a {
  color: #0099cc;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

p {
  margin-bottom: 10px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.page {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0 100px;
  overflow: hidden;
  z-index: 2;
}

.page-content {
  position: relative;
  width: 100%;
  max-width: 1280px;
  min-height: 80vh;
  margin: 10vh auto;
  padding: 0;
  background: linear-gradient(10deg,#389466,#04b4e0);
  -webkit-box-shadow: var(--color-shadow);
  -moz-box-shadow: var(--color-shadow);
  box-shadow: var(--color-shadow);
  border-radius: 32px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* buttons */
.btn-primary,
.btn-secondary,
button,
input[type="button"],
input[type="submit"],
.wp-block-button .wp-block-button__link {
  display: inline-block;
  position: relative;
  padding: .8em 2.1em;
  margin-bottom: .75em;
  margin-right: .25em;
  font-size: 1em;
  line-height: 1.2;
  border: 0;
  outline: 0;
  border: 2px solid #04b4e0;
  color: var(--color-txt);
  text-shadow: none;
  background-color: transparent;
  border-radius: 30px;
  font-family: 'Poppins', Helvetica, sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 10px -8px rgba(0,0,0,.3);
  cursor: pointer;
}

.lmpixels-arrows-nav div:hover {
  cursor: pointer;
}

.btn-primary:last-child,
.btn-secondary:last-child,
button:last-child,
input[type="button"]:last-child,
input[type="submit"]:last-child,
.wp-block-button .wp-block-button__link:last-child {
  margin-right: 0;
}

.btn-primary:hover,
.btn-primary:focus,
button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #04b4e0;
  color: var(--color-txt);
  border: 2px solid #04b4e0;
}

.btn-secondary {
  border-color: #d5d5d5;
  background-color: transparent;
  box-shadow: 0px 10px 10px -8px rgba(0,0,0,.3);
  color: var(--color-txt);
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  border-color: var(--color-txt);
  background-color: var(--color-txt);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



/* ============================================================================= 
3. Page loadig animation
============================================================================= */
.no-js .preloader,
.no-js .preloader-portfolio { 
  display: none;
}
.preloader,
.preloader-portfolio {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #222;
}

.preloader-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  background-color: inherit;
  color: inherit;
  opacity: 1;
  transition: opacity 0.3s;
  transform: translate3d(-50%,-50%,0);
}

.preloader-spinner {
  width: 52px;
  height: 52px;
  margin: 100px auto;
  background-color: #04b4e0;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0;
  }
}